@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/* Container and general styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #2A2D34;
    color: #E6E8E6;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 20px;
}
.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #333740;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #E6E8E6;
}
h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #E6E8E6;
    border-bottom: 2px solid #444A52;
    padding-bottom: 5px;
}
/* Settings styles */
.section-container {
    margin-bottom: 30px;
}
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}
.column {
    flex: 1;
    padding: 10px;
    border: 1px solid #444A52;
    margin: 0 5px;
    border-radius: 5px;
}
.column.key {
    background-color: #404552;
    font-weight: 500;
}
.old-value {
    background-color: #2A2D34;
    color: #888;
}
.new-value input {
    width: 100%;
    padding: 10px;
    border: 1px solid #444A52;
    border-radius: 5px;
    background-color: #333740;
    color: #E6E8E6;
    font-family: 'Roboto', sans-serif;
    outline: none;
}
.new-value input::placeholder {
    color: #888;
}
.btn {
    background-color: #004FFF;
    margin: 1rem auto;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    border-radius: 5px;
    border: none;
    color: #E6E8E6;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: block;
    width: fit-content;
}
.btn:hover {
    background-color: #003BB5;
}
.error {
    color: #DF2935;
}
pre {
    text-align: left;
    background-color: #404552;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow-x: auto;
    color: #E6E8E6;
}

.btn-submit {
    text-decoration: none;
}

.btn-cancel {
    background-color: #FF5555;
}
.btn-cancel:hover {
    background-color: #c82333; /* Darker red */
}
/* Statistics styles */
.statistics-wrapper {
    background-color: #1F1F1F;
    color: #E6E8E6;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.statistics-container {
    padding: 20px;
    width: 80%;
    margin: 40px auto;
    background-color: #292929;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.statistics-container h1 {
    color: #FF5555;
    font-size: 3rem;
    margin-bottom: 40px;
    font-weight: 700;
}

.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.stat-card {
    background: linear-gradient(135deg, #004FFF 0%, #0044CC 100%); /* Default blue gradient */
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.stat-card.highest-streak {
    background: linear-gradient(135deg, #FFD700 0%, #FFAA00 100%); /* Golden gradient for highest streak */
    border: 1px solid #FFD700;
}

.stat-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.stat-key {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #FFFFFF;
}
.stat-key-highest-streak {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #404552;
}
.stat-value {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
}

/* Special days styles */
.form-inline {
    display: flex;
    align-items: center;
    gap: 10px; /* Reduce spacing */
    justify-content: center; /* Center align elements */
    flex-wrap: wrap;
}
/* Inline label styling */
.form-label-inline {
    margin-right: 10px;
}

.form-group {
    margin-bottom: 10px;
    flex: 1;
    min-width: 150px;
}

.form-group-inline {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-name,
.file-preview {
    flex: 1;
    min-width: 150px;
}

.file-preview {
    margin-top: 10px;
    max-width: 200px;
    max-height: 200px; /* Adjust height to fit within container */
    border-radius: 10px;
    object-fit: contain; /* Ensure the image fits within the specified dimensions */
}

.btn-green {
    background-color: #28a745; /* Green color */
    margin-top: 10px; /* Add margin to separate the button from the file input */
}
.btn-submit img {
    display: none;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 200px;
    border-radius: 10px;
    object-fit: contain;
}

.btn-submit.has-image {
    background-color: transparent;
    padding: 0;
}
.btn-green:hover {
    background-color: #218838; /* Darker green */
}

input[type="file"] {
    display: none; /* Hide the actual file input */
}
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #444A52;
    border-radius: 5px;
    background-color: #333740;
    color: #E6E8E6;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

input[type="number"]:focus {
    border-color: #007bff; /* Blue border on focus */
}

.form-group label {
    display: block;
    font-size: 1rem;
    color: #E6E8E6;
    margin-bottom: 5px;
    font-weight: 500;
}
/* Ensuring buttons are displayed in a single column on narrow screens */
@media (max-width: 768px) {
    .day-item {
        flex-direction: column;
        align-items: center;
    }
    
    .buttons {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        width: 100%;
    }
    
    .buttons a,
    .buttons form {
        width: auto;
        margin: 0;
    }
}


.days-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Day item styles */
.day-item {
    background-color: #1F1F1F;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.day-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.day-name {
    font-size: 1.2rem;
    color: #E6E8E6;
    flex: 1;
    text-align: left;
}

.day-image {
    flex: 2;
    text-align: center;
}

.day-image img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 200px;
    border-radius: 10px;
}

.btn-delete {
    background-color: #FF5555;
}
.btn-delete:hover {
    background-color: #c82333; /* Darker red */
}

/* Adjust spacing between elements */


/* Checkbox styling */
input[type="checkbox"] {
    appearance: none;
    background-color: #333740;
    margin: 0;
    font: inherit;
    color: #E6E8E6;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #E6E8E6;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 22%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #28a745;
    /* Set the color of the checkmark */
    background-color: #28a745;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}
