<!DOCTYPE html>
<html>
<head>
    <title>Statistics</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="">
        <h1>Statistics</h1>
        <div class="container">
            <div class="grid">
                {% for section in data %}
                    {% for item in section['items'] %}
                        <div class="stat-card {% if item.highest_streak %} highest-streak {% endif %}">
                            <div class="stat-key {% if item.highest_streak %} highest-streak-key {% endif %}">
                                {% if item.key == "last_ping" %}
                                    Last Discord Ping
                                {% elif item.key == "highest_streak_date" %}
                                    Highest Streak
                                {% else %}
                                    {{ item.key|replace("_", " ")|title }}
                                {% endif %}
                            </div>
                            <div class="stat-value">
                                {% if item.key == "last_ping" or item.key == "highest_streak_date" %}
                                    {{ item.value | datetimeformat }}
                                {% else %}
                                    {{ item.value }}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <button onclick="history.back()" class="btn btn-cancel">Go back</button>
        </div>
    </div>
</body>
</html>